#amor {
    background: url(../img/amor/amor-bg.jpg) no-repeat bottom center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center bottom;
}

#amor p {
    color: #d2ac2b;
}

#amor .blurb {
    margin-top: 0;
}

#amor .video {
    padding: 0 0 35px 0;
}

#amor .btn {
    -webkit-appearance: none;
    border-radius: 0;

    border: 0;
    background-color: #d2ac2b;
    /*background-color: #fff;*/
    color: #231f20;

    margin: 0;

    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700; /* heavy */

    height: 50px;
    width: 100%;
    max-width: 200px;
}

#amor .btn-desc {
    padding-top: 10px;
    margin-bottom: 0;
}

#amor .info-grid .row:last-child {
    padding-top: 35px;
}

#amor .info-grid .col-sm-6 {
    padding: 0 10px 35px 10px;
}

#amor .info-row {
    margin-top: 50px;
    padding-left: 5%;
    padding-right: 5%;
}

#amor .info-grid .header-text {
    margin-bottom: 10px;
}

#amor .info-grid p {
    font-size: 15px;
}

#amor .info-grid a  {
    font-size: 15px;
    color: #d2ac2b;
    text-decoration: underline;
    border: 0;
    background: none;
}

@media (min-width: 768px) {

    #amor .info-grid .row:first-child .col-sm-6:after {
        content: "";
        background-color: #d2ac2b;
        position: absolute;
        bottom: 0;
        left: 10%;
        right: 10%;
        height: 2px;
    }

}
