#ifgathering {
    background: url(../img/if/if3.jpg) no-repeat bottom center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center bottom;
}

#ifgathering .header-text,
#ifgathering .hero-text,
#ifgathering p {
    color: #d2ac2b;
    /* color: #fff; */
}

#ifgathering .blurb {
    margin-top: 0;
}

#ifgathering .main-text {
    margin-top: 50px;
}

#ifgathering #if-form-alert {
    visibility: hidden;
    color: #fff;
}

#ifgathering #if-signup-form {
    margin-top: 20px;
}

#ifgathering .form-inline {
    margin-top: 10px;
}

#ifgathering .form-inline ~ .form-inline {
    margin-top: 20px;
}

#ifgathering .form-control {
    -webkit-appearance: none;
    border-radius: 0;

    /*border: 2px solid;*/
    /*border-color: #d2ac2b;*/
    border: 0;
    /*border-color: #fff;*/
    /*background-color: rgba(0, 0, 0, 0);*/
    /*background-color: #231f20;*/
    background-color: #fff;
    /*color: #231f20;*/

    margin: 0;

    font-size: 20px;
    height: 50px;
}

#ifgathering .btn {
    -webkit-appearance: none;
    border-radius: 0;

    border: 0;
    background-color: #d2ac2b;
    /*background-color: #fff;*/
    color: #231f20;

    margin: 0;

    font-size: 20px;
    height: 50px;
    width: 220px;
}

#ifgathering .info-row {
    margin-top: 50px;
    padding-left: 5%;
    padding-right: 5%;
}

#ifgathering .info-row > .col-sm-3 {

}

#ifgathering .info-row > .col-sm-3 ~ .col-sm-3 {
    margin-top: 25px;
    padding-top: 25px;

    border-top: 2px solid;
    border-left: 0;
    border-color: #d2ac2b;
}

#ifgathering .info-row .header-text {
    margin-bottom: 20px;
}

#ifgathering .info-row p {
    font-size: 15px;
}

#ifgathering .info-row a,
#ifgathering .info-row button {
    font-size: 15px;
    color: #d2ac2b;
    text-decoration: underline;
    border: 0;
    background: none;
}

@media (min-width: 768px) {

    #ifgathering .info-row > .col-sm-3 ~ .col-sm-3 {
        margin-top: 0;
        padding-top: 0;

        border-top: 0;
        border-left: 2px solid;
        border-color: #d2ac2b;
    }

}