body {
    width: 100%;
    height: 100%;
    padding: 0;
    /*color: #fff;*.
    /*background-color: #231f20;*/
    color: #231f20;
    background-color: #ffffff;
    font-family: 'futura-pt', sans-serif;
    /*font-weight: 700;*//* heavy */
    font-size: 20px;
}

html {
    width: 100%;
    height: 100%;
}

.container-fluid {
    height: 100%;
    padding-left: 0;
    padding-right: 0;
}

.container-fluid > .row {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    overflow: visible;
}

.container-fluid > .row {
    height: auto;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.carousel,
.carousel-inner,
.carousel .item,
.carousel .item *,
.carousel .active {
    height: 100%;
    width: 100%;
}

.carousel-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.carousel-fade .carousel-inner .item {
    -webkit-transition-property: opacity;
    transition-property: opacity;
}

.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    opacity: 0;
}

.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}

.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.col-sm-12 {
    height: 100%;
    padding: 10% 5% 2% 5%;
}

.col-sm-6 {
    height: 100%;
    padding: 10% 5% 2% 5%;
}

.col-sm-7 {
    height: 100%;
    padding: 10% 5% 2% 5%;
}

.col-sm-5 {
    height: 100%;
    padding: 10% 5% 2% 5%;
}

.col-sm-4 {
    height: 100%;
}

.half-row {
    height: 50%;
}

.third-row {
    height: 33.333333%;
}

.no-margin {
    margin: 0;
}

.btn-commons {
    background-color: #2F2A2B;
    color: #d2ac2b;
}

.btn-commons:hover,
.btn-commons:focus {
    color: #9F7900;
}

.intro-bg {
    height: 100% !important;
    width: 100%;
    /*
    background: url(../img/home-bg2.jpg) no-repeat bottom center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    */
}

.intro-bg > .col-sm-12 {
    /*background: rgba(35, 31, 32, .3);*/
}

.qb-bg {
    background: url(../img/sunday-gathering-tall.jpg) no-repeat bottom center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.sundays-bg {
    background: url(../img/NPland2.jpg) no-repeat bottom left scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.bsc-bg {
    background: url(../img/bsc/bsc-bg.jpg) no-repeat bottom center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.bsc-spacer {
    height: 100px;
    min-height: 100px;
}

.bsc-logo {
    margin-bottom: 30px;
}

.bsc-logo-img {
    width: 100%;
}

#events {
    padding: 0;
}

.event {
    width: 100%;
    display: table;
    table-layout: fixed;
}

.event div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.event-img {
    max-width: 80%;
    max-height: 80%;
}

.events-bg {
    background: url(../img/events/table.jpg) no-repeat bottom center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.backyard-bg {
    background: url(../img/events/backyard-bg.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.chbs-bg {
    background: url(../img/events/city-heights-bg.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.a1d-bg {
    background: url(../img/events/amor-1day-bg.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.placeholder-bg {
    background: url(../img/sunday-vertical.jpg) no-repeat bottom center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.sas-bg {
    background: url(../img/sas/sas-bg.jpg) no-repeat bottom center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.sas-logo {
    margin-bottom: 50px;
    text-align: center;
}

.sas-logo-img {
    width: 100%;
}

#sas p {
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
}
#sas a {
    color: #FFFFFF;

}
#sas .sas-bold {
    font-weight: 700;
}

.childrens-ministry {
    margin-top: 20px;
}

.children-bg {
    background: url(../img/children.jpg) no-repeat bottom center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center bottom;
}

.comm-bg {
    background: url(../img/band.jpg) no-repeat bottom center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center bottom;
    min-height: 750px;
}

.qb-spacer {
    min-height: 250px;
    height: 250px;
}

.welcome-spacer {
    min-height: 250px;
    height: 250px;
}

.why-bg {
    background: url(../img/palms.jpg) no-repeat bottom right scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: right bottom;
}

.mission-spacer {
    min-height: 50px;
    height: 50px;
}

.mission-img {
    display: table;
    table-layout: fixed;
}

.mission-img div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.mission-img img {
    width: 50%;
    height: 50%;
}

.ecclesia img {
    height: 21px;
    vertical-align: top;
}

.invert-bg {
    /*background-color: #fff;*/
    background-color: #231f20;
}

.logo-tag-row {
    height: 100% !important;
    color: #d2ac2b;
    font-size: 18px;
    text-transform: uppercase;
}

.logo-img-row {
    height: 100% !important;
    padding-top: 5%;
    padding-bottom: 5%;
}

.logo-img-middle {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.logo-img {
    height: 90%;
    vertical-align: middle;
}

.logo-tag-cell {
    height: 100%;
}

.underline {
    width: 100%;
    margin-bottom: 30px;
    border-bottom: 3px solid;
    border-color: #d2ac2b;
}

.underline.full {
    width: 100%;
}

.underline.invert {
    border-color: #231f20;
}

.underline.white {
    border-color: #fff;
}

.divider {
    width: 100%;
    height: 30px;
    margin-bottom: 30px;
    border-bottom: 3px solid;
    border-color: #d2ac2b;
}

.divider.invert {
    border-color: #231f20;
}

.header-text {
    font-size: 20px;
    color: #d2ac2b;
    text-transform: uppercase;
    font-weight: 700;/* heavy */
    vertical-align: middle;
}

.std-text {
    color: #231f20;
}

.hero-text {
    font-size: 60px;
    color: #d2ac2b;
    text-transform: uppercase;
    font-weight: 700; /* heavy */
    vertical-align: middle;
}

.header-inline {
    display: inline-block;
    vertical-align: middle;
}

.invert-text {
    /*color: #231f20;*/
    color: #ffffff;
}

.middle-parent {
    display: table;
    table-layout: fixed;
}

.middle {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

p {
    font-size: 20px;
}

a.text-link {
    color: #231f20;
    text-decoration: none;
}

.invert-text a.text-link {
    color: #fff;
}

a.text-link > span {
    display: inline-block;
    border-bottom: 1px solid black;
}

.mission-text {
    font-size: 20px;
    font-weight: 700; /* heavy */
    margin: 0;
    padding-left: 5%;
    padding-right: 5%;
    color: #fff;
}

.mission-text-top {
    padding-top: 5%;
}

.mission-text-bottom {
    position: absolute;
    bottom: 0;
    padding-bottom: 5%;
    width: 100%;
}

.icon {
    font-size: 30px;
}

.icon-inline {
    display: inline-block;
    margin-right: 10px;
}

.staff-col {
    padding: 0 !important;
}

.staff-img {
    height: 100%;
    min-height: 200px;
    margin: 0;
    padding: 0;
}

.staff-jon {
    background: url(../img/staff/jon-nichols.jpg) no-repeat center center;
    background-size: cover;
}

.staff-jeremey {
    background: url(../img/staff/jeremey-glazier.jpg) no-repeat center center;
    background-size: cover;
}

.staff-ryan {
    background: url(../img/staff/ryan-english.jpg) no-repeat center center;
    background-size: cover;
}

.staff-alistair {
    background: url(../img/staff/alistair-king.jpg) no-repeat center center;
    background-size: cover;
}

.staff-andy {
    background: url(../img/staff/andy-lyde.jpg) no-repeat center center;
    background-size: cover;
}

.staff-damin {
    background: url(../img/staff/damin-sterling.jpg) no-repeat center center;
    background-size: cover;
}

.row.staff {
    height: auto !important;
}


.staff-label-bg {
    position: absolute;
    bottom: 0;
    height: 60px;
    width: 100%;
    background-color: #231f20;
    opacity: 0.6;
}

.staff-label {
    position: absolute;
    bottom: 0;
    height: 60px;
    width: 100%;
    text-align: center;
    padding-top: 8px;
    line-height: 100%;
}

.staff-name {
    color: #d2ac2b;
    font-weight: 700; /* heavy */
    font-size: 18px;
    margin-bottom: 0;
}

.staff-role {
    color: #d2ac2b;
    font-size: 16px;
}

/* MISSION */

#mission .body-text {
    margin-bottom: 30px;
}

#sermons {
    min-height: 800px;
}

.series-nav {
    /*color: #FFF;*/
}

.series-bg {
    background: no-repeat center top scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    overflow: hidden;
}

#sermons .series-name-img {
    max-width: 100%;
}

#sermons .series-desc {
    color: #fff;
}

#sermons .series-spacer {
    height: 50px;
}

.series-header.row {
    height: auto;
}

.series-header .row {
    padding-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

.series-header-content {
    border-color: #fff;
    border-bottom: 3px solid;
}

.series-header-content .col-xs-6 {
    padding: 0;
    height: 50px;
}

/* sermon listings */

.sermon {
    margin-bottom: 30px;
    display: table;
}

#sermons .series-pane {

}

.series-header .header-text {
    /*color: #fff;*/
}

.sermon .sermon-left {
    display: table-cell;
    width: 60px;
    height: 100%;
    vertical-align: middle;
}

.sermon-nav {
    /*color: #fff;*/
    font-size: 24px;
}

.sermon-nav > span:focus,
.sermon-nav > span:hover {
    color: #d2ac2b;
    cursor: pointer;
}

.sermon-nav > span.disabled {
    opacity: 0.5;
}

.sermon-nav > span.disabled:focus,
.sermon-nav > span.disabled:hover {
    color: #fff !important;
}

.sermon .sermon-info {
    display: table-cell;
}

.sermon .title {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700; /* heavy */
    font-size: 16px;
}

.sermon .title a {
    text-decoration: none;
    color: #fff;
    padding-left: 10px;
}

.sermon .title a :hover {
    color: #d2ac2b;
}

.sermon .title i {
    font-size: 20px;
}

.sermon .description {
    color: #fff;
    font-size: 16px;
}

.sermon .date {
    color: #fff;
    /*padding-right: 15px;*/
    width: 80px;
    display: inline-block;
}

#sermon-browser {
    overflow: auto;
}

#sermon-browser .header-text {
    color: #fff;
}

#sermon-browser {
    /*background: rgba(35, 31, 32, .5);*/
}

#footer {
    min-height: 200px;
    height: 200px;
    background-color: #d2ac2b;
}

#footer > .col-left,
#footer > .col-middle,
#footer > .col-right {
    padding-top: 34px;
    padding-bottom: 34px;
}

#footer > .col-left {
    text-align: left;
    padding-left: 5%;
}

#footer > .col-middle {
    text-align: center;
}

#footer > .col-right {
    text-align: right;
    padding-right: 5%;
}

/* hax to get p elements to be v-align middle */
#footer > .col-sm-4 > .row {
    width: 100%;
    height: 33px;
    display: table;
    table-layout: fixed;
}
#footer > .col-sm-4 > .row > p {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
}

#footer > .col-middle img {
    height: 132px;
    max-height: 132px;
}

#footer > .col-sm-4 a,
#footer > .col-sm-4 a:hover,
#footer > .col-sm-4 a:visited,
#footer > .col-sm-4 a:focus,
#footer > .col-sm-4 p {
    color: #fff;
    font-size: 16px;
    margin: 0;
    text-decoration: none;
}

.paypal-footer {
    vertical-align: middle;
}

.paypal-methods {
    width: 160px;
}

/* same-height columns */
/* columns of same height styles */
.container-xs-height {
    display: table;
    padding-left: 0;
    padding-right: 0;
}

.row-xs-height {
    display: table;
    width: 100%;
}

.col-xs-height {
    display: table-cell;
    float: none !important;
}

.video-nav-wrapper {
    height: 17%;
    max-height: 17%;
    min-height: 90px;
    margin-left: 5%;
    margin-right: 5%;
}

.video-nav {
    height: 100%;
    padding: 10% 0 0 0; /* diff on desktop */
    display: table;
    table-layout: fixed;
}

.video-nav-middle {
    display: table-cell;
    vertical-align: middle;
}

.video-nav .header-text {
    border-color: #231f20;
    border-bottom: 3px solid;
    padding-bottom: 10px;
    color: #231f20;
}

.video-content {
    height: 83%;
}

.video-content > .row {
    height: 100%;
}

#video-all {
    height: 100%;
    padding-right: 0;
    padding-left: 0;
}

#video-all .col-sm-6 {
    min-height: 180px;
    height: 50%;
}

.video-tile {
    display: block;
    position: relative;
}

.video-tile::after {
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    opacity: 1;
}

.video-tile:hover::after {
    opacity: 0.8;
}

.video-content .title-wrap {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
    min-height: 180px;
}

.video-content .icon {
    font-size: 40px;
}

.video-content .title-content {
    display: table-cell;
    vertical-align: middle;
    color: #fff;
    font-size: 20px;
}

/* tweaks for lightbox */
.modal-backdrop {
    bottom: 0;
    position: fixed;
}
.modal-dialog {
    width: 100%;
    /* height: 100%; */ /* @todo fixme: causes problems with hide modal */
    /* margin-top: -55px; */
    display: table;
    table-layout: fixed;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
}

.modal-content {
    display: table-cell;
    vertical-align: middle;
}

.video-content #video-feature::after {
    background: url(../img/video-thumbs/beyond-mere-words.jpg) no-repeat top center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#beyond-mere-words .modal-body {
    font-size: 18px;
}

#beyond-mere-words .week-cell {
    min-height: 170px;
    padding: 15px 15px 25px;
}

#beyond-mere-words .week-cell h4 {
    color: #d2ac2b;
    text-transform: uppercase;
}

#beyond-mere-words .week-cell h4 .date {
    padding-right: 10px;
}

.video-content #video-a::after {
    background: url(../img/video-thumbs/why_was_jesus_baptized.jpg) no-repeat top center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.video-content #video-b::after {
    background: url(../img/video-thumbs/how_is_one_baptized.jpg) no-repeat top center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.video-content #video-c::after {
    background: url(../img/video-thumbs/is_the_practice_of_baptism_empty_ritual.jpg) no-repeat top center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.video-content #video-d::after {
    background: url(../img/video-thumbs/wearethecommons.jpg) no-repeat top center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.video-content #video-e::after {
    background: url(../img/video-thumbs/trinity-bible.jpg) no-repeat top center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.video-content #video-f::after {
    background: url(../img/video-thumbs/trinity-important.jpg) no-repeat top center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#calendar-embed {
    width: 100%;
    min-height: 500px;
}

@media (min-width: 768px) {
    .row-sm-height {
        display: table;
        width: 100%;
    }

    .col-sm-height {
        display: table-cell;
        float: none !important;
    }
}

@media (min-width: 992px) {
    .row-md-height {
        display: table;
        width: 100%;
    }

    .col-md-height {
        display: table-cell;
        float: none !important;
    }
}

@media (min-width: 1200px) {
    .row-lg-height {
        display: table;
        width: 100%;
    }

    .col-lg-height {
        display: table-cell;
        float: none !important;
    }
}

/* END same-height columns */

@media (min-width: 768px) {
    .container-fluid > .row {
        min-height: 100%;
        height: 100%;
    }

    .col-sm-12 {
        padding: 5% 5% 2% 5%;
    }

    .col-sm-6 {
        padding: 5% 5% 2% 5%;
    }

    .col-sm-7 {
        padding: 5% 5% 2% 5%;
    }

    .col-sm-5 {
        padding: 5% 5% 2% 5%;
    }

    .intro-bg {
        padding-top: 0 !important;
    }

    .logo-tag-row {
        height: 10% !important;
    }

    .logo-img-row {
        height: 80% !important;
        padding-top: 0; !important;
        padding-bottom: 0; !important;
    }

    .underline {
        width: 50%;
    }

    .divider {
        width: 50%;
    }

    .no-pad {
        padding: 0;
    }

    .ekko-lightbox {
        margin-left: 100px;
    }

    .modal-dialog {
        width: 80%;
        max-width: 80%;
        /* margin-top: -55px; */
        margin: 10% auto;
        padding-left: auto;
        padding-right: auto;
    }

    .video-nav {
        padding: 0;
    }
}
