.fc-day-header,
.fc-toolbar h2 {
    text-transform: uppercase;
    font-weight: 700;
}

.fc-day-header {
    font-size: 18px;
}

.fc-toolbar h2 {
    font-size: 20px;
}

.fc button {
    height: 30px;
}

.fc-event, .fc-event-dot {
    background-color: #d2ac2b;
}

.fc-event {
    border-radius: 0;
    border: 1px solid #d2ac2b;
}

a:focus, a:hover {
    color: #9F7900;
}

.fc-event .fc-content {
    margin-left: 2px;
}